.file {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

Input {
  // background-color: aqua;
  color: #08183c;
  border: 0.5px solid #08183c;
  width: 50%;
  height: 3rem;
  // margin-top: 10rem;
  border-radius: 10rem;
  background: none;
  font-size: 18px;
  padding: 1rem;
}
