.header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: #08183c;
  color: #f97150;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon {
  // width: 70%;
  z-index:2;
  position: relative;
  padding: 1rem;
  margin-right: 2rem;
  width: 400px;
  cursor: pointer;
  .setting {
    position: absolute;
    width: 200px;
    left: 50%;
    transform: translateX(-90%);

    border-radius: 5px;
    background-color: rgb(199, 199, 199);
    ul {
      text-align: center;
      li {
        padding: 1rem 0;
        &:hover {
          background-color: rgb(161, 161, 161);
        }
      }
    }
  }
}
